<h1 align="center">Inside this item</h1>
<h1>Title: <%= @item.title %> </h1>

<%= @item.description %>
</div>

<%= link_to 'Back', root_path %> |
<%= link_to 'Edit', edit_item_path %> |
<%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %>