<!DOCTYPE html>
<html>
<head>

  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style> 
    a:link, a:visited {
	text-decoration: none;
}
</style>

  <title>Tarie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= render 'layouts/navbar' %> 
<div class='contain'>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
